.categories {
  background-color: var(--color-background);

  text-align: center;

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    /* Centrar contenido */
    justify-items: center;
    gap: 0.25rem;
    padding-top: 1.25rem;
    padding-bottom: 2rem;
  }

  &__label {
    color: #626262;

    font-weight: 700;
    font-size: 0.75rem;
  }


  &__title {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;

    @media (width > 768px) {
      font-size: 1.75rem;
    }
  }

  &__list {
    display: grid;
    gap: 0.25rem;
    padding-block: 0.5rem;

    @media (width > 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: clamp(4.5rem, 13vw, 11rem);
      padding-top: 1.75rem;
      padding-inline: 0.5rem;

    }
  }

  &__item {
    padding-block: 0.5rem;

    list-style-type: none;
  }

  &__img {
    width: 124px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__name {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 0.875rem;

    @media (width > 768px) {
      font-size: 1.125rem;

    }
  }

  &__link {
    padding-block: 0.7rem;
    padding-inline: 1.65rem;
    border-radius: 22.5px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration-line: none;

    transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;

    &:hover {
      transform: translateY(-5px) scale(1.04);
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.25);
    }
  }
}