:root {
  /* colors */
  --color-primary: #6C933E;
  --color-background: #D9E4CC;
  // revisar color, otro nombre más semántico 
  --color-dark: #4A4A4A;

  /* fonts */
  --font-family-heading: "Roboto Slab", serif;
}