.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  height: 100dvh;
  padding-block: 3.5rem;
  padding-inline: 2.5rem;

  background-image: url("../../images/hero-cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85% center;

  color: #FFFFFF;

  @media (width > 768px) {
    gap: 1rem;
    padding-block: 2rem;
  }

  @media (width > 1280px) {
    padding-block: 3rem;
  }

  &__title {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;

    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    @media (width > 768px) {
      font-size: 4.688rem;
    }
  }

  &__text {
    text-align: center;

    @media (width > 768px) {
      width: 50%;
      font-size: 1.5rem;
    }

    @media (width > 1280px) {
      width: 100%;
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;

    background-color: #FFFFFF;

    @media (width > 768px) {
      width: 2.813rem;
      height: 2.813rem;
    }

  }

  &__img {
    width: 40%;
    transform: translateY(1px);
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-block: 2rem;
  padding-inline: 1rem;

  &__label {
    color: var(--color-primary);

    text-transform: uppercase;
    font-size: 0.875rem;

    @media (width > 768px) {
      font-size: 1rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-size: 1.875rem;

    @media (width > 768px) {
      font-size: 2rem;
    }
  }

  &__text {
    color: var(--color-dark);

    font-size: 1.125rem;
    line-height: 1.6;

    @media (width > 768px) {
      font-size: 1.25rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 2.5rem;
    margin-top: 2.5rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 22.5px;

    font-weight: 500;
    font-size: 1.25rem;
    text-decoration-line: none;

    @media (width > 768px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}