.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--color-primary);
}