@use "./core/reset";
@use "./core/variables";
@use "./core/body";

@use "./layout/header";
@use "./layout/main";
@use "./layout/footer";

@use "./components/hero";
@use "./components/promo";
@use "./components/categories";
@use "./components/back-to-top";